[package]
name = "spore"
version = "0.1.0"
edition = "2021"

# See more keys and their definitions at https://doc.rust-lang.org/cargo/reference/manifest.html

[dependencies]
ckb-std = "0.14.3"
molecule = { version = "0.7.5", default-features = false }
spore-types = { path = "../../lib/types" }
spore-utils = { path = "../../lib/utils" }
spore-errors = { path = "../../lib/errors" }
kmp = { version = "0.1.1" }
ckb-transaction-cobuild = { git = "https://github.com/cryptape/ckb-transaction-cobuild-poc", rev = "bdb0c74" }

[build-dependencies]
ckb-hash = "0.112.1"
hex = "0.4.3"
spore-build-tools = { path = "../../lib/build" }

[features]
default = []
release_export = []
